* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Poppins', sans-serif;;
}

body {
    background-color: #EFD595;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #EF9595;
    color: white;
}

header img {
    width: 60px;
}

header h1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 2.4rem;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main .container-action {
    background-color: #EFB495;
    flex-basis: 30%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

main .container-bookshelf {
    flex-basis: 70%;
}

.search_section {
    margin: 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.search_section > h2 {
    color: black;
}

.search_section > form {
    padding: 16px;
    width: 100%;
    font-weight: bold;
}

.search_section > form > label {
    display: flex;
    align-items: center;
}

.search_section > form > input {
    width: 80%;
    padding: 8px;
    border-radius: 5px;
}

.search_section > form > button {
    background-color: #EFB495;
    color: white;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.search_section > form > button:hover {
    background-color: #a8806a;
}

.input_section {
    margin: 16px 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.input_section > h2 {
    text-align: center;
    color: black;
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: #EFB495;;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 90%;
    margin-left: 15px;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button:hover {
    background-color: #a8806a;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    margin-left: 15px;
    width: 90%;
    padding: 8px;
    border-radius: 5px;
}


.input_section > form > .input > label {
    margin-left: 15px;
    color: black;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 15px;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: black;
    font-weight: bold;
    margin-right: 10px;
}

.edit_section {
    margin: 16px 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.edit_section > h2 {
    text-align: center;
    color: black;
}

.edit_section > form > .edit {
    margin: 8px 0;
}

.edit_section > form > button {
    background-color: #EFB495;;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 90%;
    margin-left: 15px;
    padding: 8px;
    cursor: pointer;
}

.edit_section > form > button:hover {
    background-color: #a8806a;
}

.edit_section > form > button > span {
    font-weight: bold;
}

.edit_section > form > .edit > input {
    display: block;
    margin-left: 15px;
    width: 90%;
    padding: 8px;
    border-radius: 5px;
}


.edit_section > form > .edit > label {
    margin-left: 15px;
    color: black;
    font-weight: bold;
}

.edit_section > form > .edit_inline {
    margin: 12px 15px;
    display: flex;
    align-items: center;
}

.edit_section > form > .edit_inline > label {
    color: black;
    font-weight: bold;
    margin-right: 10px;
}

.book_shelf {
    margin: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 16px;
    border-radius: 10px;
}

.unread {
    background-color: #A1CCD1;
}

.read {
    background-color: #7C9D96;
}

.book_shelf > h2 {
    color: white;
    margin-left: 15px;
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.container-book {
    padding: 8px 16px 16px 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 5px;
    margin: 10px 0;
}

.container-book > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.container-book > .green {
    background-color: #14A44D;
    color: white;
}

.container-book > .red {
    background-color: #DC4C64;
    color: white;
}

.container-book > .blue {
    background-color: #33B1D8;
    color: white;
}

.container-book > .green:hover {
    background-color: #0e803c;
    color: white;
}

.container-book > .red:hover {
    background-color: #9e3748;
    color: white;
}

.container-book > .blue:hover {
    background-color: #33b1d89b;
    color: white;
}

@media screen and (max-width: 1260px) {
    main .container-action {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
    }
    
    main .container-bookshelf {
        flex-basis: 60%;
    }
}

@media screen and (max-width: 936px) {
    main {
        flex-direction: column;
    }

    .container-book > button {
        margin-top: 10px;
        display: block;
    }

    .input {
        order: 1;
    }

    .edit {
        order: 2;
    }
}